/*
Autor: Daniel Eduardo Gaviria Mazuera
Proyecto: Truora - Libro de Recetas
Descripcion: CSS Adicional.
*/
html, body {
    font-family: Open Sans;
    color: #545454;
    margin: 5px;
    padding: 0;
}

.ppal{
    padding: 3em 8em;
}

.title{
    font-size: 34px !important;
    font-weight: 600 !important;
}

.title2{
    font-size: 20px !important;
    font-weight: 600 !important;
}

.description{
    font-family: Open Sans;
    color: #545454;
    font-size: 17px;
    text-align: justify;
}

.list{
    
}

/* Search Form */
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}